{% extends 'surveys/base.html' %}
{% block content %}
<div class="container mt-4">
    <h2>My Surveys</h2>
    {% if surveys %}
        <ul class="list-group">
            {% for survey in surveys %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>{{ survey.title }}</span>
                    <div>
                        <a href="{% url 'surveys:survey_results' survey.id %}" class="btn btn-sm btn-success">Results</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You haven’t created any surveys yet.</p>
    {% endif %}
</div>
{% endblock %}
